<h1 class="mt-4 text-center">Homepage</h1>


<div class="container mt-4">
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-block btn-lg btn-success" href="/products/new">Create new product</a>
        </div>
        <div class="col-sm">
            <button class="search_by_scan btn  btn-lg btn-block btn-info">
                Search product by scan
            </button>
        </div>
    </div>
        
</div>

<div class="scanner position-absolute d-none" style="top:14.7%;left:25%; width:50%; height:50%;">
    <button class="closed-button close position-absolute text-light"
        style="z-index:100; right:16.4%; font-size:3em; outline:none">
        <span aria-hidden="true">&times;</span>
    </button>
</div>