

<div class="pl-5 pr-5">

<div class="mt-4 d-flex justify-content-between align-items-center">
<h1>Vendors</h1>
<%= link_to "back to homepage", root_path, class: "btn btn-outline-secondary" %>
</div>

</div>


<div class="container">
<div class="row">
<% @vendors.each do |vendor| %>
<div class="col-3 mt-1">
<div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title"><%= link_to vendor.name, vendor_path(vendor), class: "text-success" %></h5>
     <p class="card-text"><%= pluralize(vendor.products.count, "product") %></p>
  </div>
  <div class="card-footer text-muted">
    <small class="d-block">Created at <%= vendor.created_at.strftime("%m/%d/%Y") %></small>
  </div>
</div>
</div>

   <% end %>
</div>
</div>



