
<h1 class="text-center mt-4">
    Create new product
</h1>
<%= render "form" %>

<div class="scanner position-absolute d-none" style="top:14.7%;left:25%; width:50%; height:50%;">
    <button class="closed-button close position-absolute text-light" style="z-index:100; right:16.4%; font-size:3em; outline:none">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
