
<div class="pl-5 pr-5">
<div class="mt-4 ">
<h1>Sales</h1>
</div>
<div class="d-flex">
  <% @sales.each do |sale| %>
    <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><%= sale.date %></h5>
     <p class="card-text"><%= link_to "[View data]", sale_path(sale) %></p>
  </div>
  </div>
<% end %>
</div>

</div>
</div>
